.wheycontainer {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.wheygrid {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    .wheycontainer {
        height: 198vh;
       
        
    }
}